.advantages__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.advantages__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 11px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }
}

.advantages__title-white {
  @media (min-width: @tablet-width) {
    text-align: center;
  }
}

.advantages__title-blue {
  @media (min-width: @tablet-width) {
    font-size: 21px;
  }
}

.advantages__item {
  @media (min-width: @tablet-width) {
    width: 33.33%;
  }
}

.advantages__image {
  @media (min-width: @tablet-width) {
    position: relative;
    width: 66.66%;
    list-style-type: none;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  img {
    display: block;
    min-width: 100%;

    @media (min-width: @tablet-width) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-height: 100%;
      max-width: 120%;
      width: auto;
    }
  }
}

.advantages__item--blue {
  background-color: @background-color-blue;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  line-height: 26px;
  font-size: 18px;
  padding: 37px 18px 25px 18px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    margin: 0;
    padding: 66px 33px 31px 33px;
  }
}

.advantages__item--top {
  padding-top: 54px;

  @media (min-width: @tablet-width) {
    padding-top: 52px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 101px;
  }
}

.advantages__item--low {
  @media (min-width: @tablet-width) {
    padding-top: 52px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 99px;
  }
}

.advantages__item--blue .advantages__number {
  font-weight: 400;
  line-height: 21px;
  font-size: 14px;

  @media (min-width: @tablet-width) {
    margin: 9px 0 21px 0;
  }
}

.advantages__item--blue .advantages__discription {
  font-weight: 400;
  line-height: 21px;
  font-size: 14px;

  @media (min-width: @tablet-width) {
    margin: 9px 0 3px 0;
  }
}

.advantages__item--white {
  position: relative;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
  text-align: left;
  list-style-type: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding: 32px 18px 0 65px;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 24px;
    left: 18px;
  }

  @media (min-width: @tablet-width) {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    margin: 0;
    width: 256px;
    min-height: 331px;
    padding: 158px 33px 60px 33px;

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 77px;
      height: 72px;
      top: 60px;
      left: 89px;
    }
  }

  @media (min-width: @desktop-width) {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    margin: 0;
    width: 400px;
    min-height: 331px;
    padding: 168px 33px 60px 33px;
  }
}

.advantages__item--house {
  &::after {
    background: url(../img/icon-house.svg) center center no-repeat;
    background-size: contain;

    @media (min-width: @tablet-width) {
      width: 76px;
      height: 73px;
      top: 58px;
      left: 50%;
      transform: translateX(-50%);
    }

    @media (min-width: @desktop-width) {
      width: 76px;
      height: 73px;
      top: 69px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.advantages__item--food {
  padding-bottom: 7px;

  &::after {
    background: url(../img/icon-food.svg) center center no-repeat;
    background-size: contain;

    @media (min-width: @tablet-width) {
      width: 78px;
      height: 74px;
      top: 58px;
      left: 50%;
      transform: translateX(-50%);
    }

    @media (min-width: @desktop-width) {
      width: 78px;
      height: 74px;
      top: 70px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.advantages__item--souvenirs {
  padding-bottom: 47px;

  br {
    display: none;
  }

  @media (min-width: @tablet-width) {
    padding-top: 153px;
    padding-bottom: 60px;

    br {
      display: inline;
    }
  }
  &::after {
    background: url(../img/icon-gift.svg) center center no-repeat;
    background-size: contain;

    @media (min-width: @tablet-width) {
      width: 86px;
      height: 78px;
      top: 60px;
      left: 50%;
      transform: translateX(-50%);
    }

    @media (min-width: @desktop-width) {
      width: 86px;
      height: 78px;
      top: 60px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.advantages__item--white .advantages__discription {
  color: @text-description-black;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 0;

  @media (min-width: @tablet-width) {
    text-align: center;
    margin-top: 11px;
  }
}

.advantages__item-grey {
  position: relative;
  color: #000000;
  background-color: @background-color-grey;
  text-transform: uppercase;
  text-align: center;
  list-style-type: none;
  font-size: 18px;
  padding: 24px 26px 28px 26px;

  &::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 20px;
    width: 280px;
    border-top: 1px solid #d6d6d6;
  }

  @media (min-width: @tablet-width) {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    margin: 0;
    padding: 44px 33px 29px 33px;
    width: 256px;
    min-height: 256px;
  }

  @media (min-width: @desktop-width) {
    padding: 44px 33px 29px 33px;
    width: 400px;
    min-height: 400px;
  }
}

.advantages__item-grey--road {
  padding-top: 11px;

  @media (min-width: @tablet-width) {
    padding-top: 43px;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 54px;
    padding-left: 150px;
    padding-right: 150px;
  }
}

.advantages__item-grey--tourist {
  padding-top: 11px;
  padding-bottom: 18px;

  @media (min-width: @tablet-width) {
    padding-top: 43px;
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 54px;
    padding-left: 150px;
    padding-right: 150px;
  }
}

.advantages__discription-grey {
  @media (min-width: @tablet-width) {
    margin-top: 23px;
  }
  color: @text-description-black;
  font-weight: 400;
  line-height: 21px;
  font-size: 14px;
}

.advantages__number-grey {
  font-weight: 400;
  line-height: 21px;
  font-size: 14px;
}
