.advantages__item-blue {
  background-color: @background-color-blue;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  line-height: 26px;
  font-size: 18px;
}

.advantages__number-blue,
.advantages__discription-blue {
  font-weight: 400;
  line-height: 21px;
  font-size: 14px;
}

.advantages__item-white {
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
  list-style-type: none;
}

.advantages__discription-white {
  color: @text-description-black;
}

.advantages__image {
  list-style-type: none;
}

.advantages__item-grey {
  color: #000000;
  background-color: @background-color-grey;
  text-transform: uppercase;
  list-style-type: none;
}

.advantages__discription-grey {
  color: @text-description-black;
}
