.describe-impressions__title {
  font-weight: 700;
  line-height: 26px;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
}

.describe-impressions__title::placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-weight: 700;
  line-height: 26px;
  font-size: 18px;
}
