.hero {
  position: relative;
  background: #325f7e;
  text-align: center;
  background-image: url(../img/back-mobile.jpg);
  background-repeat: no-repeat;
  padding: 90px 12px 85px 12px;

  &::after {
    content: "";
    width: 100%;
    height: 72px;
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    background: url(../img/intro-triangle.svg) center bottom no-repeat;
  }

  @media (min-width: @tablet-width) {
    background-image: url(../img/back-tablet.jpg);
    padding-top: 77px;
    &::after {
      content: "";
      width: 100%;
      height: 72px;
      position: absolute;
      left: 0;
      bottom: -1px;
      display: block;
      background: url(../img/white-triangle-tablet.svg) center bottom no-repeat;
    }
  }

  @media (min-width: @desktop-width) {
    background-image: url(../img/back-desktop.jpg);
    padding-top: 77px;
    &::after {
      content: "";
      width: 100%;
      height: 72px;
      position: absolute;
      left: 0;
      bottom: -5px;
      display: block;
      background: url(../img/desktop-triangle.svg) center bottom no-repeat;
    }
  }
}

.hero__small {
  padding: 50px 45px 67px 45px;
  background-position: bottom center;

  @media (min-width: @tablet-width) {
    height: 290px;
  }
}

.hero__img {
  @media (min-width: @tablet-width) {
    width: 461px;
    height: 350px;
    padding-bottom: 183px;
  }
}
