.main-footer__contacts-hashtag {
  font-size: 21px;
  line-height: 26px;
  font-style: normal;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.social__list {
  list-style-type: none;

  @media (min-width: @mobile-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 30px 0;
  }
}

.social__item {
  @media (min-width: @mobile-width) {
    margin-right: 6px;
  }
}

.social__button {
  svg {
    display: block;
  }
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
