.page {
  background: #f2f2f2;
}

.page__body {
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  margin: 0 auto 0 auto;
  padding: 0;
  width: 320px;
}
