.photo-gallery__header {
  text-align: center;
  font-weight: 700;
  line-height: 26px;
  font-size: 18px;
  text-transform: uppercase;
}

.photo-gallery__text {
  font-weight: 400;
  line-height: 21px;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}

.photo-gallery__title {
  font-weight: 700;
  line-height: 21px;
  font-size: 14px;
  text-transform: uppercase;
}

.photo-gallery__photo-author {
  font-weight: 400;
  line-height: 21px;
  font-size: 14px;
  color: @text-description-black;
}

.photo-gallery__sum-like {
  font-weight: 700;
  line-height: 21px;
  font-size: 14px;
}

.photo-gallery__list {
  list-style-type: none;
}
