.promo-block {
  background-color: #ffffff;
  padding: 17px 20px 48px 20px;

  @media (min-width: @tablet-width) {
    padding: 60px 166px 55px 166px;
  }

  @media (min-width: @desktop-width) {
    padding: 60px 382px 66px 383px;
  }
}

.promo-block__header {
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  margin: 12px 0 0 0;

  @media (min-width: @tablet-width) {
    font-size: 30px;
  }
}

.promo-block__discription {
  color: @text-description-black;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  margin: 14px 0 14px 0;
}

.promo-block__button {
  display: inline-block;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  width: 284px;
  padding: 17px 30px 15px 30px;

  @media (min-width: @tablet-width) {
    width: 458px;
    height: 58px;
    padding: 14px 121px 17px 121px;
  }
}
